* {
    padding: 0;
    margin: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    background-color: rgb(86, 86, 195);
    height: 15px;
    position: sticky;
    top: 0px;
}
.logo img{
    padding-top: 10px;
    height: 50px;
    width: 60px;
    
}
.logo {
    display: flex;
    align-items: center;
}

.nav ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    cursor: pointer;
}
nav ul li span {
    color: #fff;
}

h1 {
    text-shadow: 2px 4px 8px #403E3E;
}
#sp {
    color: #d56f3e;
}

ul li img {
    height: 20px;
    padding-bottom: 20px;
}

.card {
    width: 180px;
    border: 0px solid black; 
    border-radius: 5px;
    height: 275px;
    padding: 10px;
    margin: 50px;
    box-shadow: 1px 1px 10px 1px #403E3E;
    cursor: pointer;
}
.card p {
    font-family: sans-serif;
    font-size: 12px;
}
.card h3 {
    font-family: sans-serif;
}

.card img {
    height: 200px;
    width: 100%;
    border-radius: 5px;
}


h4 {
    color: #3c787e;
    text-align: right;
}

#pets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-width: 375) {
    #pets {
        flex-wrap: wrap;
    }
}

.card:hover {
    box-shadow: 0px 0px 10px 4px #403E3E;
    transform: scale(1.1);
}


